// hide filtr-container until initialize
.filtr-container {
  opacity: 0;
}

// service active class
.service-list {
  .active {
    font-weight: 700;
    color: $primary-color;
  }
  a {
    padding-left: 6px;
  }
}

.slider-text {
  color: $text-color-dark;
}

.about-img-rounded-shadow {
  border-radius: 16px;
  box-shadow: 9px 7px 16px rgba(200, 200, 200, 0.3);
}
